<h1>Hello <%= @employeer.name %></h1>

<p>
  A new application has been received by <strong><%= @user.name %></strong> on a job titled as: <strong><%= @job.title %></strong> posted by you.
</p>

<p>
  Please checkout the application and take the required action.
</p>

<p>Thanks</p>
<p>JobPortal</p>
