<h1>Hello <%= @user.name %></h1>

<p>
  Thanks for submitting your application for the job titled as: <strong><%= @job.title %></strong>. Your details has been sent to the employer and they will get back to you as soon as they review your application.
</p>

<p>
  Meanwhile you can explore more jobs on the portal and feel free to apply more.
</p>

<p>Thanks</p>
<p>JobPortal</p>
