<div class="list-group mt-5">
  <%= link_to "Post a Job", new_company_job_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "My Jobs List", company_jobs_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "My Profile", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
  <%= link_to "My Company", company_my_company_path, class: "list-group-item list-group-item-action" %>
</div>