<h1>Hello <%= @user.name %> </h1>

<p>
  As per your request, exporting all the job applications received for the job <strong><%= @job.title %></strong>, into <%= @export_format %>, we have prepared the data for you. Please check the attached <%= @export_format %> file.
</p>

<p>Thank You!</p>