<div class="row">
  <div class="card mt-5 mb-5">
    <div class="card-body">
      <h2 class="text-secondary">Create a new job</h2>
      <p class="fw-bold lead">Fields marked as <span class="text-danger">*</span> are the required fields.</p>
    </div>
  </div>
  <%= render 'form', job: @job %>
</div>